@import "variables/variables.scss";

.wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 0 40px;

  img {
    border-radius: 12px;
    width: 60%;
    height: 600px;
    object-fit: cover;
  }

  .info {
    width: 40%;
    color: $text-black;

    h3 {
      font-size: 40px;
      font-weight: 700;
    }

    .price {
      margin-top: 32px;
      position: relative;
      font-size: 64px;
      font-weight: 700;

      &:before {
        content: "$";
      }

      span {
        color: $text-gray;
        text-decoration: line-through;
        font-size: 40px;
        font-weight: 500;
        margin-left: 32px;

        &:before {
          content: "$";
        }
      }

      .discount {
        top: 0;
        position: absolute;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 500;
        color: $text-white;
        background-color: $green;
        text-decoration: none;

        &:before {
          content: "-";
        }

        &:after {
          content: "%";
        }
      }
    }

    .addToCart {
      margin-top: 32px;
      display: flex;
      gap: 32px;

      button {
        width: 300px;
      }
    }

    .description {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h5 {
        font-weight: 600;
        font-size: 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
      }

      span {
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}