@import "variables/variables.scss";

.welcome {
  width: 100vw;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper {
    margin-left: 40px;
    width: 90%;

    h1 {
      color: $text-white;
      font-weight: 700;
      font-size: 96px;
      line-height: 110%;
      margin-bottom: 40px;
    }

    .button {
      width: 220px;
    }
  }
}

.saleSection {
  margin-top: 80px;
  padding: 0 40px;

.saleBanner {
  padding: 32px 32px 0;
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    color: $text-white;
    font-weight: 700;
    font-size: 64px;
  }

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 32px;
    overflow: hidden;

    img {
      position: relative;
      width: 60%;
    }

    form {
      margin-bottom: 32px;
      width: 40%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 20px;
      font-weight: 500;

      input {
        border: 1px solid $text-white;
        border-radius: 6px;
        padding: 16px 32px;
        background: transparent;
        color: $text-white;
        font-weight: 500;
        font-size: 20px;

        &::placeholder {
          color: $text-white;
          opacity: 1;
        }

        &[type="submit"] {
          margin-top: 16px;
          background: $text-white;
          color: $text-black;
          font-weight: 600;
          transition: all 300ms;
          border: none;
          outline: none;

          &:hover {
            cursor: pointer;
            background: $text-black;
            color: $text-white;
          }
        }
      }
    }
  }
}
}

